<div
  class="flex rounded-md bg-dark bg-cover bg-center bg-gradient-to-r from-red-50 to-red-100 text-dark h-[30rem]"
>
  <!-- Poster -->
  @if (movieService.selectedMovie()?.poster_path) {
  <div class="p-3">
    <img [src]="getPoster()" alt="" class="rounded-md w-96 md:w-96 lg:w-60" />
  </div>
  }

  <div class="p-5">
    <!-- Rating -->
    <h2 class="font-semibold text-3xl mb-2">
      {{ movieService.selectedMovie()?.title }}
      <span
        class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
      >
        {{ movieService.selectedMovie()?.vote_average | number : "1.0-0" }}/10
      </span>
    </h2>

    <!-- overview -->
    <p class="mb-2">
      {{ movieService.selectedMovie()?.overview }}
    </p>

    <!-- Available in languages -->
    @if ( movieService.selectedMovie()?.spoken_languages) {
    <div class="flex mt-2">
      <div class="me-1">Available In :</div>
      @for (language of movieService.selectedMovie()?.spoken_languages; track
      $index) {
      {{ language.name }}
      @if( movieService.selectedMovie()?.spoken_languages.length - 1 !== $index)
      {
      <span class="me-1">,</span>
      } }
    </div>
    }

    <!-- Genres -->
    @if (movieService.selectedMovie()?.genres) {
    <div class="flex mt-2">
      <div class="me-1">Genres :</div>
      @for (genre of movieService.selectedMovie()?.genres; track $index) {
      {{ genre.name }}
      @if (movieService.selectedMovie()?.genres.length-1 !== $index) {
      <span class="me-1">,</span>
      } }
    </div>
    }

    <!-- Budget -->
    @if (movieService.selectedMovie()?.budget) {
    <div class="flex mt-2">
      <div class="me-1">Budget :</div>
      {{ movieService.selectedMovie()?.budget | currency }}
    </div>
    }
  </div>
</div>
