<nav
  class="main-header bg-white border-gray-200 dark:bg-gray-900 border-b py-[12px]"
>
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto"
  >
    <a routerLink="" class="flex items-center space-x-1 rtl:space-x-reverse">
      <img src="assets/logo.png" class="h-8" alt="Flowbite Logo" />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap text-slate-600 dark:text-white"
      >
        Popcorn Pluse
      </span>
    </a>

    <div class="flex items-center space-x-3">
      <a
        href="https://github.com/sujeetjaiswara/popcorn-pluse-svelte"
        target="_blank"
        class="flex text-sm"
      >
        <!-- <GithubSolid ariaLabel="View on GitHub" /> -->
        GitHub
      </a>
      <!-- <DarkMode size="sm" /> -->
    </div>
  </div>
</nav>
