<div class="flex items-center justify-center w-[85vw]">
  <div
    class="min-h-80 flex flex-col bg-white dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
  >
    <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
      🚧
      <p class="mt-2 text-base text-gray-500 dark:text-neutral-300 text-center">
        Movie data is currently unavailable.<br />
        We apologize for the inconvenience and are working to resolve the issue.
      </p>
    </div>
  </div>
</div>
