<a
  routerLink="/movie/{{ movie().id }}"
  class="hover:outline-dark-500 my-1 hover:outline hover:outline-1"
>
  <div class="bg-white rounded">
    @if (movie().poster_path) {
      <div>
        <img
          class="rounded-t-md bg-gray-200 dark:bg-gray-900 aspect-autoH border border-b-0"
          [ngSrc]="getPoster()"
          [alt]="movie().backdrop_path"
          width="220"
          height="330"
          placeholder="data:image/png;base64,iVBORw0K..."
        />
      </div>
    } @else {
      <div class="h-[273px] bg-gray-200 rounded-t-md aspect-autoH"></div>
    }

    <div class="px-2 py-1 border border-t-0 rounded-b-md dark:border-gray-700 pb-3">
      <h4 class="font-semibold text-sm truncate dark:text-white">
        {{ movie().title }}
      </h4>
      <span
        class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
      >
        {{ movie().vote_average | number: '1.0-0' }}/10
      </span>
    </div>
  </div>
</a>
