/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(15px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-15px);
  }
}

::view-transition-old(root) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

html {
  font-variation-settings: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
  // overflow: hidden;
}

::selection {
  background: #f8c5a8;
  color: black;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3) transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(215.4 16.3% 46.9% / 0.3);
  border-radius: 2px;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
